body{
  margin: 0;
  padding: 0;
  border: 0;
}
#headimg{
  padding: auto;
  width:130px;

}
h1{
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
#textprincipal{
  text-align:center;
  color: cornsilk;
}
header{
  background-color:rgb(1, 123, 123);
}
#imggroup{
  width:1550px;
}
#venha{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: black;
  color: blanchedalmond;
}